*                                      { box-sizing: border-box; }
a                                      { color: inherit; }
a.inhoud2                              { display: block; font-size: 1.3rem; font-weight: bold; text-align: left; text-transform: uppercase; }
a.inhoud3                              { display: block; line-height: 1.5rem; }
a.knop                                 { border-radius: 0.5rem; box-shadow: 0.3rem 0.3rem 0.5rem #333333; display: inline-block; margin: 1rem 0; max-width: 100%; padding: 1.5rem 2rem; text-align: center; width: 38rem; }
a.knop.primair                         { background-color: #ffed00; color: #000000; }
a.knop.secundair                       { background-color: #999999; color: #000000; }
a.logo                                 { float: right; margin: 0 0 1rem 1rem; }
a.logo img                             { height: 20vw; width: auto; }
a.lokatie                              { float: left; margin: 1rem 1rem 1rem 0; }
a.lokatie img                          { height: 20vw; width: auto; }
a.route                                { float: right; margin: 0 0 1rem 1rem; }
a.route img                            { height: 20vw; width: auto; }
a.url                                  { word-break: break-all; }
a.verwijzing                           { color: inherit; display: block; margin: 1rem 0; padding: 1rem; text-align: center; }
body                                   { background-color: #ccc; font-family: arial, sans-serif; margin: 0; padding: 0 1rem; }
caption                                { font-style: italic; margin-bottom: 0.5rem; }
div.galerij                            { clear: both; display: flex; justify-content: space-around; margin: 1rem 0; text-align: center; }
div.galerij div                        { width: 25vw; }
div.galerij div.ondertitel             { text-align: center; }
div.midden                             { text-align: center; }
div.ondertitel                         { font-weight: bold; }
div.scrollbaar                         { margin: 1rem 0; overflow: auto; }
div.scrollbaar > table                 { margin: 0; }
figcaption                             { font-style: italic; text-align: left; }
figure                                 { margin: 1rem 0; width: 100%; }
footer                                 { padding: 1rem 0 2rem; }
h1                                     { font-size: 1.5rem; margin: 1rem 0 0.5rem; text-transform: uppercase; }
h1.titel                               { background-color: #ffed00; font-size: 1.5rem; font-weight: bold; margin: 1rem 0 0.5rem; padding: 0.5rem; text-transform: uppercase; }
h2                                     { margin: 1rem 0 0.5rem; text-transform: uppercase; }
h3                                     { margin: 1rem 0 0; text-transform: uppercase; }
h1 span, h2 span                       { background-color: #ffed00; display: inline-block; padding: 0.5rem; }
img.breed                              { height: auto; width: 100%; }
img.vierde                             { height: 25vw; width: auto; }
img.vijfde                             { height: 20vw; width: auto; }
img.half                               { height: 50vw; width: auto; }
img.voorkant                           { border-radius: 0.5rem; height: auto; margin: 1rem auto; width: 100%; }
li                                     { margin: 0.5rem 0; text-align: justify; }
p                                      { overflow: auto; text-align: justify; }
p.rechts                               { text-align: right; }
header, section                        { background-color: white; border-radius: 0.5rem; margin: 1rem 0; overflow: hidden; padding: 0 1rem; }
table                                  { border-collapse: collapse; margin: 1rem 0; overflow: scroll; width: 100%; }
table td, table th                     { padding: 0.2rem; text-align: left; }
table tbody th                         { font-weight: normal; }
table.belijnd td,
table.belijnd th                       { border: 1px solid #ccc; }
table.belijnd th:first-child           { border-right-width: 3px; }
table.belijnd td:first-child,
table.belijnd th:first-child           { border-left-width: 0; }
table.belijnd td:last-child,
table.belijnd th:last-child            { border-right-width: 0; }
table.belijnd thead th                 { border-top-width: 0; }
table.belijnd tbody tr:first-child > * { border-top-width: 3px; }
table.belijnd tbody tr:last-child > *  { border-bottom-width: 3px; }
table.belijnd tfoot th                 { border-bottom-width: 0; }
table.getallen tr > *:nth-child(2),
table.getallen tr > *:nth-child(3),
table.getallen tr > *:nth-child(4),
table.getallen tr > *:nth-child(5)     { text-align: right; }
